
.contents__post 
  .message_title 
    = message.title
  .message_name
    = message.name
  .message_text 
    = message.text
  .message_nickname
    = link_to user_path(message.user.id), class: "user_nickname" do
      nickname : 
      = message.user.nickname 
  .btn 
    = link_to message_path(message) do
      Show
      -# = icon('fas', 'cog', class: "btn_icon")