.contents
  .contents__form
    = form_with model: @message, html: {class: "form_box"}, local: true do |f|
      .form_field
        = f.text_field :title, class: "message_title", placeholder: "tiile" 
        = f.text_field :name, class: "message_name", placeholder: "name(著者)" 
        = f.text_area :text, class: "message_text", placeholder: "type a message"
        .message_nickname
          nickname : 
          = current_user.nickname
      .form_submit
        = f.submit 'Send', class: "submit"
